<!-- Footer -->
<div class="email-footer">
  <a href="{{system.url}}">
    <img class="footer" src="cid:footer" alt="">
  </a>

  <a href="{{system.url}}">
    <p>
      © {{year}} {{system.name}}, Todos los derechos reservados
    </p>
  </a>
</div>
