<!-- Footer -->
<div class="email-footer">
  <p>
    © {{year}} {{system}}
  </p>
  <p>
    Todos los derechos reservados
  </p>
  <div>
    <img class="footer" src="cid:footer" alt="">
  </div>
</div>
